/client//logs
/client/*.log
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/pnpm-debug.log*
/client/lerna-debug.log*

/client/node_modules
/client/dist
/frontdist-ssr
/client/*.local

# /client/Editor directories and files
/client/.vscode/*
/client/!.vscode/extensions.json
/client/.idea
/client/.DS_Store
/client/*.suo
/client/*.ntvs*
/client/*.njsproj
/client/*.sln
/client/*.sw?


/api-server/logs
/api-server/*.log
/api-server/npm-debug.log*
/api-server/yarn-debug.log*
/api-server/yarn-error.log*
/api-server/pnpm-debug.log*
/api-server/lerna-debug.log*

/api-server/node_modules
/api-server/dist
/api-server/dist-ssr
/api-server/*.local

# /api-server/Editor directories and files
/api-server/.vscode/*
/api-server/!.vscode/extensions.json
/api-server/.idea
/api-server/.DS_Store
/api-server/*.suo
/api-server/*.ntvs*
/api-server/*.njsproj
/api-server/*.sln
/api-server/*.sw?

Closing-Farewell.md